* {background-color: blue;}
* p {font-size: 1rem;}
* p {font-size: 1rem;font: Times;}
* #Macedonia {background-color: black;}.countries {color: red;}
* #Answerpoop {background-color: black;}.countries {color: red;}
* font-size: 100rem